<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ojsystem.mapper.CodeMapper">
    <resultMap id="BaseResultMap" type="com.example.ojsystem.pojo.Code">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="problemId" property="problemId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="templateCode" property="templateCode" jdbcType="LONGVARCHAR"/>
        <result column="testCode" property="testCode" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, problemId, type, templateCode, testCode
    </sql>

    <insert id="insert" parameterType="com.example.ojsystem.pojo.Code">
        insert into code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="problemId != null">
                problemId,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="templateCode != null">
                templateCode,
            </if>
            <if test="testCode != null">
                testCode,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="problemId != null">
                #{problemId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="templateCode != null">
                #{templateCode},
            </if>
            <if test="testCode != null">
                #{testCode},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.example.ojsystem.pojo.Code">
        update code
        <set>
            <if test="templateCode != null">
                templateCode = #{templateCode},
            </if>
            <if test="testCode != null">
                testCode = #{testCode},
            </if>
        </set>
        where problemId = #{problemId}
        and type = #{type}
    </update>

    <delete id="deleteCodeByProblemId" parameterType="java.lang.Integer">
        delete
        from code
        where problemId = #{problemId}
    </delete>

    <select id="selectCodeByProblemIdAndType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from code
        where problemId = #{problemId}
        and type = #{type}
    </select>

    <select id="selectCodeByProblemId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from code
        where problemId = #{problemId}
    </select>
</mapper>